html {
  /*Leo: this is where you can place background color*/
  background-color: #fbf2da;
}

#logo {
  float: right;
  border: solid transparent;
  margin: 0px;
  padding: 0px;
  display: inline-block;
  width: fit-content;
  padding-right: 20px;
}

#logo img {
  width: 80%;
      min-width: 200px;
      float: right;
}

#main {
  width: 40%;
  min-width: 200px;
  padding: 15px;
  float: right;
  display: inline-block;
  position: absolute;
  right: 2%;
  top: 40%;
  /*Leo: this is where you can place background color*/
  background-color: #ebc257;
  border:solid transparent;
  border-radius: 20px;
}

#main p {
  /*Leo: this is where you can place fonts and font color*/
  color: ;
  /*Leo: dont forget to link fonts in HTML*/
  font-family: ;
  font-size: ;
}

h1,h2,h3,h4 {
  /*Leo: this is where you can place fonts and font color*/
}

#image {
  float:left;
  position:absolute;
  left:0%;
  bottom:0%;
}

#image img {
  width: 80%;
  min-width: 300px;
}

.nav-item a {
  color: white;
  margin: 0px 10px 0px 10px;
}
