html {
  /*Leo: this is where you can place background color*/
  background-color: #fbf2da;
}

#logo {
  float: right;
  border: solid transparent;
  margin: 0px;
  padding: 0px;
  display: inline-block;
  width: fit-content;
  padding-right: 20px;
}

#logo img {
  width: 40%;
      min-width: 200px;
      float: right;
      position: relative;
      top: -5px;
}

#main {
  width: 45%;
      min-width: 200px;
      padding: 15px;
      float: right;
      display: inline-block;
      position: absolute;
      right: 2%;
      top: 55%;
      background-color: #db312a;
      border: solid transparent;
      border-radius: 20px;
}

#main p {
  /*Leo: this is where you can place fonts and font color*/
  color: #0d160b;
  /*Leo: dont forget to link fonts in HTML*/
  font-family: jaf-bernino-sans-condensed, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 12;
}

h1,h2,h3,h4 {
  /*Leo: this is where you can place fonts and font color*/
  color: #033863;
  font-family: continuo,sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1{
  font-size: 150px;
  background-color: #aaebc2;
  border-radius: 20px;
}

#image {
  float:left;
  position: fixed;
  left:-13%;
  bottom:-30%;

}

#image img {
  width: 90%;
  min-width: 500px;
}

.nav-item a {
  color: white;
  margin: 0px 10px 0px 10px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
}
