html {
  /*Leo: this is where you can place background color*/
  background-color: #fbf2da;
  /*Stephanie: this is where you place the large yoyo image*/
  background-image: url();
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: bottom left;
}
body {
  background-color: transparent;
}
p {
  font-family: jaf-bernino-sans-condensed, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 12;
  color: #0d160b;
}
/*Leo: here is paragraph and header styling*/
h1,h2,h3,h4 {
  font-family: continuo,sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #033863;
}

h1{
    font-size: 120px;
    letter-spacing: 10px;
    text-align: left;
    z-index: -12;
}

#container-a, #container-b{
  display: flex;
  flex: 100%;
  padding: 20px;
  justify-content: space-between;
  margin-bottom: 30px;
}

.optional{
  display: block;
  width:100%;
  text-align: center;
}
.opt-con{
  width:100%;
  margin: 30px 0px 50px 0px
}

.opt {
  margin: 5px;
border: solid transparent;
border-radius: 10px;
background-color: rgb(235, 194, 87);
padding: 5px;
width: 55%;
display: inline-block;
text-align: left;
column-count: 2;
}

.opt p {
  font-size: 10pt;
}

.opt a {
  text-align: center;
  text-decoration: underline;
  font-weight: 400;
  font-size: 10pt;
}

.bold {
  font-weight: 600;
}

#main {
  flex: 65%;
  padding: 10px;
  /*Leo:pick a color for the main paragraph, be consistent with landing page's main*/
  background-color: #db312a;
  border: solid transparent;
  border-radius: 20px;

}

#main h2 {
  text-align: center;
}

#main-img {
  flex: 30%;
}

#main-img img {
  width: 90%;
  float: left;
}

#main-img img:hover{
  width: 100%;
}

#rope img{
  width: 60%;
  padding: none;
}

#rope img:hover{
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}


#inner-img img{
  max-width: 60%;
  float: right;
  border-radius: 60%;
}

#inner-img img:hover{
  border: dashed 5px #033863;
  max-width: 60%;
  float: right;
  border-radius: 10%;
}

.block {
min-width: 170px;
display: inline-block;
max-width: 250px;
padding: 10px 5px 0px 5px;
text-align: center;
align-content: center;
align-items: center;
align-self: center;
margin: 0px auto 0px auto;
}

.block img {
  max-width: 80%;
}

.block p {
  /*Leo: chose color for caption boxes from color sheet*/
  background-color: #eb8e4b;
  padding: 5px;
  border-radius: 5px;
  margin-top: 5px;
}

#container-c {
  display: flex;
  width: 100%;
  padding: 20px;
  justify-content: space-between;
  margin-top: 30px;
}

.opt2 {
  margin: 0px 10px 0px 0px;
border: solid transparent;
border-radius: 10px;
background-color: rgb(235, 194, 87);
padding: 5px;
flex: 70%;
float: right;
display: inline-block;
}

.bottom {
  padding: 10px;
  /*Leo: this is the box for the sources, chose a different color from main and caption boxes*/
  background-color: #aaebc2;
  border: solid transparent;
  border-radius: 20px;
  margin-left:5px;
  flex:25%;
}
.bottom h4 {
  /*Leo: this is the title for the sources box, chose a font and or color*/
  font-family: continuo,sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #033863;
}

a {
  /*Leo: this is if you want to style the fonts/decorations/color for the links*/
  font-family: jaf-bernino-sans-condensed, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #0d160b;
}
nav img {
  background-color: white;
  border-radius: 5px;
}
.nav-item a {
  color: white;
  margin: 0px 10px 0px 10px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
}

#box {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px;
}

.left {
  width:32%;
  background-color: transparent;
  display:inline-block;
  float:left;
  margin: 0px 3px 0px 6px;
}

.mid{
  width:32%;
  background-color: transparent;
  display:inline-block;
  margin:0px 3px 0px 3px;
}

.right {
  width:32%;
  background-color: transparent;
  display:inline-block;
  float:right;
  margin:0px 6px 0px 3px;
}

#accordion {
  background-color: transparent;
  border-radius: 20px;
}
.card{
  width:100%;
  background-color: rgb(235, 194, 87);
}

.card h6 {
  font-family: jaf-bernino-sans-condensed, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  color: #0d160b;
}
