html {
  /*Leo: this is where you can place background color*/
  background-color: #fbf2da;
  /*Stephanie: this is where you place the large yoyo image*/
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: bottom right;
}
body {
  background-color: transparent;
}
p {
  font-family: jaf-bernino-sans-condensed, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 12;
  color: #0d160b;
}
/*Leo: here is paragraph and header styling*/
h1,h2,h3,h4 {
  font-family: continuo,sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #033863;
}

h1{
  font-size: 170px;
  text-align: center;
}

#container-a, #container-b{
  display: flex;
  flex: 100%;
  padding: 20px;
  justify-content: space-between;
  margin-bottom: 30px;
}

.optional{
  display: block;
  width:100%;
  text-align: center;
}

#main {
  flex: 65%;
  padding: 10px;
  /*Leo:pick a color for the main paragraph, be consistent with landing page's main*/
  background-color: #db312a;
  border: solid transparent;
  border-radius: 20px;

}

#main h2 {
  text-align: center;
}

#main-img {
  flex: 30%;
}

#main-img img {
  width: 50%;
  float: right;
  position: fixed;
  right: -10%;
  z-index: -20%;

}

.block {
min-width: 170px;
display: inline-block;
max-width: 250px;
padding: 10px 5px 0px 5px;
text-align: center;
align-content: center;
align-items: center;
align-self: center;
margin: 0px auto 0px auto;
}

.block img {
  max-width: 80%;
}

.block p {
  /*Leo: chose color for caption boxes from color sheet*/
  background-color: #eb8e4b;
  padding: 5px;
  border-radius: 5px;
  margin-top: 5px;
}

#container-c {
  display: block;
  width: 100%;
  padding: 20px;
  justify-content: space-between;
}

.block-l{
min-width: 170px;
display: inline-block;
width: 40%;
padding: 10px 5px 0px 5px;
text-align: center;
align-content: center;
align-items: center;
align-self: center;
margin: 0px auto 0px auto;
}

.block-l img {
  max-width: 80%;
}

.block-l p {
  /*Leo: chose color for caption boxes from color sheet SAME AS .block*/
  background-color: #eb8e4b;
  padding: 5px;
  border-radius: 5px;
  margin-top: 5px;
}

.left {
  width: 30%;
}

.top {
  text-align: center;
}

.bottom {
  padding: 10px;
  /*Leo: this is the box for the sources, chose a different color from main and caption boxes*/
  background-color: #aaebc2;
  border: solid transparent;
  border-radius: 20px;
}
.bottom h4 {
  /*Leo: this is the title for the sources box, chose a font and or color*/
  font-family: continuo,sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #033863;
}

a {
  /*Leo: this is if you want to style the fonts/decorations/color for the links*/
  font-family: jaf-bernino-sans-condensed, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #0d160b;
}

.nav-item a {
  color: white;
  margin: 0px 10px 0px 10px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
}
